body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: #64C4ED;
  font-size: 32px;
  font-weight: 700;
}

header{
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
}
.form input{
  border: 0px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;
}
.form button{
  border: 0px;
  width: 14px;
  background-color: white;
  color: #B4B4B4;
}
.App{
  margin: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.item-todo{
  justify-content: space-between;
  display: flex;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
.item-text{
  color: #000;
  font-size: 16px;
  font-weight: 500;
  
}
.strike{
  text-decoration: line-through;
  color: #0cff2c;
}
.item-delete{
  padding: 5px;
  color: white;
  background-color: red;
  border-radius: 8px;
}